body {
  margin: 0;
}

h1, h2, h3 {
  color: #fff9f9;
  font-family: 'Oleo Script', cursive;
  text-align: center;
}

.window {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #1e1e1e;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  max-width: 900px;
}

.box input {
  margin: 5px;
}

.box input:nth-of-type(2) {
  width: 40px;
}

.box button.tinyButton {
  margin: 5px;
  overflow: visible;
  width: 23px;
  height: 21px;
}

.box button.tinyButton div {
  background-color: rgba(0, 0, 0, 0.7);
  width: 150px;
  margin-top: 20px;
  margin-left: -81px;
  z-index: 100;
  position: absolute;
  display: none;
  border-radius: 3;
  color: #fff;
  padding: 10px;
}

.box button.tinyButton div:before {
    content:"\A";
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    position: absolute;
    left: 75px;
    top: -20px;
}

.box button.tinyButton div h2 {
  margin: 3px;
}

.box button.redButton {
  border: none;
  padding: 6px 8px;
  border-radius: 3px;
  font-weight: bold;
  margin: 0;
  background-color: #ff6347;
  transition: 0.2s;
  font-size: 19pt;
  color: rgb(112, 56, 38);
  font-family: 'Oleo Script', cursive;
}

.box button.redButton:hover {
  transition: 0.3s;
  background-color: #d32000;
  cursor: pointer;
}

div.container {
  background-color: #DDDDDD;
  border-radius: 5px;
  margin: 30px;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: flex;
  flex-direction: row;
}

footer h3, footer a {
  padding: 7px;
  margin: 0;
  color: white;
  line-height: 100%;
}

footer h3 {
  padding: 0 7px;
  margin: auto 0;
  cursor: default;
}

footer a:hover {
  background: #fff9f9;
  color: #1e1e1e;
  transition: 0.4s;
}
